<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <!-- Simple Datatable start -->
      <div class="card-box mb-30">
        <div class="pd-20">
          <h4 class="text-blue h4">Thông tin tài khoản</h4>
          <form action="/account" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label>Họ và tên</label>
              <input required="" class="form-control" placeholder="Nhập họ và tên nhân viên" type="text" name="fullname"
                value="{{user.hoVaTen}}">
            </div>
            <div class="form-group">
              <label>Ảnh đại diện</label>
              <input type="file" name="image" class="form-control-file form-control height-auto" id="imageInput"
                accept="image/png, image/jpeg">
              <input type="hidden" name="urlImage" value="{{user.anhDaiDien}}">
            </div>
            <div style="display: flex; justify-content: center;">
              <img
                src="{{user.anhDaiDien}}"
                id="selectedImage" style="width: 200px; height: 200px;">
            </div>
            <div class="form-group">
              <label>Tên đăng nhập</label>
              <input required="" class="form-control" placeholder="Nhập tên đăng nhập" type="text" name="username"
                value="{{user.tenDangNhap}}" readonly>
            </div>
            <div class="form-group">
              <label>Mật khẩu</label>
              <input required="" class="form-control" placeholder="Nhập mật khẩu" type="text" name="password"
                value="{{user.matKhau}}">
            </div>
            <div class="form-group">
              <label>Điện thoại</label>
              <input required="" class="form-control" placeholder="Nhập số điện thoại" type="number" name="phoneNumber"
                value="{{user.dienThoai}}">
            </div>
            <div class="form-group">
              <label>Ngày sinh</label>
              <input required="" class="form-control" type="date" name="dateOfBirth" value="{{reverseDate (formatDate user.ngaySinh)}}">
            </div>
            <div class="form-group">
              <label>Giới tính</label>
              <select class="form-control" name="gender">
                <option value="Nam" {{#equal user.gioiTinh 'Nam' }} selected {{/equal}}>Nam</option>
                <option value="Nữ" {{#equal user.gioiTinh 'Nữ' }} selected {{/equal}}>Nữ</option>
                <option value="Khác" {{#equal user.gioiTinh 'Khác' }} selected {{/equal}}>Khác</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Lưu thông tin</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Sau khi chọn ảnh sẽ hiển thị hình ảnh theo kích thước
  document.getElementById('imageInput').addEventListener('change', function (e) {
    const file = e.target.files[0];
    if (file) {
      const reader = new FileReader();
      reader.onload = function (event) {
        const selectedImage = document.getElementById('selectedImage');
        selectedImage.src = event.target.result;
        selectedImage.style.display = 'block';
      };
      reader.readAsDataURL(file);
    }
  });
</script>